@import "../../styles/variables";

.card {
  background: var(--bg-color-card);
  box-shadow: var(--box-shadow);
  width: 100%;
  border-radius: 4px;
  transition: all .3s;
  &:hover {
    box-shadow: var(--box-shadow-hover);
  }
  &__head {
    position: relative;
    height: 165px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &-price {
      position: absolute;
      top: 12px;
      left: 12px;
      padding: 2px 13px;
      background-color: var(--bg-color);
      box-shadow: var(--box-shadow);
      font-size: 20px;
      font-weight: 400;
      line-height: 27px;
      border-radius: 4px;
    }
    &-currency {
        margin-left: 4px;
        color: $--primary-color;
    }
    &-btn {
        position: absolute;
        right: 12px;
        top: 12px;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background-color: $--primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s;
        &:hover {
            background-color: $--primary-hover-color;
        }
    }
  }
  &__rating {
    position: absolute;
    bottom: -12px;
    left: 12px;
    display: flex;
    gap: 4px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    background-color: var(--bg-color);
    color: var(--text-primary);
  }
  &__footer {
    padding: 12px;
    &-title {
      font-size: 18px;
      font-weight: 600;
      line-height: 25px;
    }
    &-description {
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      color: var(--text-secondary);
      margin-top: 8px;
    }
  }
}
