.author{
    position: absolute;
    top: 10px;
    left: 200px;
    z-index: 2;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    &__link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        color: var(--text-primary);
        background-color: var(--bg-color);
        box-shadow: var(--box-shadow);
        transition: all .3s;
        &:hover {
            box-shadow: var(--box-shadow-hover);
        }
    }
}
.switcher {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 8px;
    padding: 4px 8px;
    z-index: 2;
    align-items: center;
    &__icons{
        display: flex;
        position: relative;
        display: flex;
        align-items: center;
        padding: 2px 4px;
        width: 40px;
        height: 22px;
        flex-shrink: 0;
        border-radius: 11px;
        border: 1px solid var(--text-primary);
        &:hover {
            cursor: pointer;
        }
    }
    &__title{}
}
.checked {
    justify-content: flex-end;
}

@media(max-width: 768px) {
    .author {
        left: 10px;
    }
}
